/* footer.css */

html, body {
  height: 100%; /* Ensure full height of viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height of viewport */
}

.footer {
  background-color: #f8e5be; /* Dark background color */
   /* Text color */
  padding: 20px;
  
   /* Padding around the footer content */
  margin-top: auto; /* Push the footer to the bottom */
}

.footer-tabs {
  display: flex;
  justify-content: center; /* Center align tabs */
  margin-bottom: 20px; /* Space below tabs */
}

.footer-tabs a {
  color: #6820ef; /* Link text color */
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Padding inside tabs */
  margin: 0 10px; /* Margin between tabs */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.footer-tabs a:hover {
  background-color: #1e1d1d; /* Darker background on hover */
}

.footer-content {
  margin-bottom: 20px; /* Space below content */
}

.footer-section {
  text-align: right;
  top: 30%; /* Center align content in the section */
  margin-bottom: 20px; /* Space below each section */
}

